.intro {
  margin: 0 auto;
}

.intro-subhead {
  font-family: inherit;
  font-size: 0.8em;
  letter-spacing: 1px;
  display: block;
}

.intro-head {
  font-family: inherit;
  font-size: 2.1em;
  font-weight: 300;
  word-break: break-word;
  word-wrap: break-word;
  line-height: 1.1;
}
