#contactForm {
  /* remove default header margin */
  .mat-card-header-text {
    margin: 0px !important;
  }

  .mat-form-field-subscript-wrapper {
    padding: 0;
    margin: 0.2em 0 1em 0;
  }

  .mat-divider {
    border-top-color: #3f51b5;
    border-top-width: 2px;
  }
}
