<div class="row h-100">
  <div class="col my-auto">
    <div class="row px-4 mx-5 align-items-center">
      <div class="col-xs-12 col-md-6">
        <app-contact-intro></app-contact-intro>
      </div>
      <div class="col-xs-12 col-md-6">
        <contact-form (notify)="onFormSubmit($event)"></contact-form>
      </div>
    </div>
    <small *ngIf="submitted" class="text-danger">
      <span *ngIf="firstName">First Name: {{ firstName }}</span
      ><br />
      <span *ngIf="lastName">Last Name: {{ lastName }}</span
      ><br />
      <span *ngIf="email">Email: {{ email }}</span
      ><br />
      <span *ngIf="phoneNumber">Phone Number: {{ phoneNumber }}</span>
    </small>
  </div>
</div>
